.App {
  text-align: center;
}
html,
body {
  width: 100%;
  height: 100%;
}

.top-block {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
}
@font-face {
  font-family: "LotteMartDreamBold";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff")
      format("woff");
}
@font-face {
  font-family: "LotteMartDreamLight";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
      format("woff");
}
.lottemartdream * {
  font-family: "LotteMartDream", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-image {
  max-width: 850px;
  object-fit: none;
}

.background {
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 480px;
  max-width: 1080px;
  object-fit: none;
}

.main-background {
  background-image: url("./background/main.jpg");
  height: 100%;
  background-size: auto 150%;
}

.env-background {
  background-image: url("./background/environmental-protection.jpg");
  height: 40%;
  background-size: 120% auto;
}

p {
  font-family: "LotteMartDream";
  margin: 2rem;
  line-height: 1.5;
  color: #2e2e2e;
  font-size: min(3vw, 1.2rem);
}

div.margin-textbox {
  padding-top: 20vh;
}

.title.uppertitle {
  font-size: min(4.5vw, 4rem, 35pt);
  color: white;
  min-width: 125px;
  filter: none;
}

.title {
  font-family: "LotteMartDreamBold";
  min-width: 220px;
  font-size: min(10vw, 9rem);
  max-width: 100%;
  color: white;
}

.recommand {
  font-family: "LotteMartDreamLight";
  margin-top: 15vh;
  font-size: min(4vw, 2rem);
  color: white;
  min-width: 220px;
  filter: none;
}

.dark-background {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

.green-button {
  font-size: min(3.5vw, 2rem);
  color: white;
  width: min(50vw, 15rem);
  padding: 1rem;
  filter: none;
  border: none;
  outline: none;
  background: #67ba43;
  border-radius: 0.5rem;
}

.white-box {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 75vh;
  min-width: 480px;
  max-width: 1080px;
  bottom: 0;
  border-radius: 1rem;
}

.item-middle-box {
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: flex-end;
}
