.App {
  text-align: center;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}
p {
  font-family: "LotteMartDream";
  margin: 2rem;
  line-height: 1.5;
  color: #2e2e2e;
  font-size: min(3vw, 1.2rem);
  word-break: keep-all;
}

ul {
  padding: 0;
  max-width: 1080px;
  list-style: none;
}
li {
  margin: max(5vh, 20px);
}
.top-block {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDreamBold";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDreamLight";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
      format("woff");
}

.lottemartdream * {
  font-family: "LotteMartDream", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-image {
  max-width: 1080px;
  object-fit: none;
}

.background {
  flex: 1;
  display: block;
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 280px;
  max-width: 1080px;
  object-fit: none;
}

.dark-background {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

.main-background {
  background-image: url("./background/main-blur.jpg");
  min-height: 100vh;
}

.env-background {
  background-image: url("./background/environmental-protection-blur.jpg");
  height: 40%;
}

div.margin-textbox {
  padding-top: 20vh;
}

.h1 {
  font-family: "LotteMartDreamBold";
  min-width: 120px;
  font-size: min(10vw, 78pt);

  color: white;
}

.h2 {
  font-family: "LotteMartDreamBold";
  min-width: 80px;
  font-size: min(6vw, 5rem, 36pt);

  color: white;
}

.h3 {
  font-size: min(4.5vw, 4rem, 28pt);
  color: white;
  min-width: 80px;
  filter: none;
}

.hb3 {
  font-family: "LotteMartDreamBold";
  font-size: min(4.5vw, 4rem, 28pt);
  color: white;
  min-width: 80px;
  filter: none;
}

.h4 {
  font-family: "LotteMartDreamLight";
  margin-top: 15vh;
  font-size: min(4vw, 2rem);
  color: white;
  min-width: 120px;
  filter: none;
}

.p1 {
  margin: 5vh 0;
  font-family: "LotteMartDreamLight";
  font-size: min(4vw, 2rem);
  min-width: 80px;
  filter: none;
}
.pb1 {
  margin: 7vh 0;
  font-family: "LotteMartDreamBold";
  font-size: min(5vw, 2.5rem);
  min-width: 80px;
  filter: none;
}

.green-button {
  font-family: "LotteMartDream";
  font-size: min(3.5vw, 2rem);
  color: white;
  width: min(50vw, 15rem);
  padding: 1rem;
  filter: none;
  border: none;
  outline: none;
  background: #67ba43;
  border-radius: 0.5rem;
}

.image-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  filter: none;
  border: none;
  outline: none;
  padding: min(10vw, 70px);
  background-color: transparent;
  border-radius: 2rem;
}

.button-image {
  display: inline-block;
  width: 80vw;
  height: 20vh;
  max-width: 860px;
  min-height: 120px;
  background-image: url("./background/environmental-protection-blur.jpg");
  filter: none;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}

.button-text {
  margin: 0;
}

.button-icon {
  height: 8vw;
}

.white-box {
  position: absolute;
  background-color: white;
  width: 100%;
  overflow-wrap: normal;
  min-height: 75vh;
  min-width: 280px;
  max-width: 1080px;
  top: 25vh;
  border-radius: 1rem;
}

.item-middle-box {
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: center;
}

.item-flex-box {
  flex: 1;
}
