.minor-background {
    background-image: url("./background/tangerines.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .icon-image {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: min(50vw, 15rem);
    height: min(50vw, 15rem);
  }
  
  .transparent-box {
    position: absolute;
    width: 100%;
    overflow-wrap: normal;
    min-height: 75vh;
    min-width: 280px;
    max-width: 1080px;
    top: 25vh;
    border-radius: 1rem;
  }
  
  .transparent-button {
    font-family: "LotteMartDream";
    font-size: min(3.5vw, 2rem);
    color: white;
    width: min(50vw, 15rem);
    padding: 1rem;
    filter: none;
    border: 4px solid white;
    outline: none;
    background: transparent;
    border-radius: 0.5rem;
  }
  